<p>
  Sie sind keinem Konto zugeordnet. Sie können entweder ein neues Konto erstellen, oder den Administrator eines
  bestehenden Kontos bitten, Sie dem Konto hinzuzufügen. Falls Sie Ihr eigenes Konto erstellen können Sie selbst
  weitere Benutzer hinzufügen.
</p>

<p>Sie müssen ein Konto erstellen, um private Notizen mit anderen zu teilen.</p>